---
interface Product {
  title: string;
  description: string;
  price: number;
  image: string;
}

const { product } = Astro.props;
---

<div class="bg-jennyland-color-white shadow-lg rounded-lg overflow-hidden"

>
  <img
    src={product.image}
    alt={product.title}
    class="w-full h-60 object-cover object-bottom"
  />
  <div class="p-6">
    <h3 class="text-xl font-bold mb-2">{product.title}</h3>
    <p class="text-gray-600 mb-4">{product.description}</p>
    <p class="text-lg font-semibold text-jennyland-color-red">
      {product.price} €
    </p>
    <!-- <button class="mt-4 bg-jennyland-color-brown text-white py-2 px-4 rounded">
      Ajouter au panier
    </button> -->
  </div>
</div>
